@import "tailwindcss";
@plugin "daisyui";

/* arregla el error que me da por consola */

@layer base {
  @font-face {
    font-family: "Montserrat";
    /* la ruta del font  montserrat-alternates-medium con la carpeta assets/fonts y la otr montserrat-alternates*/
    src: url("/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf")
      format("truetype");
  }
}

@theme {
  --font-family-montserrat: "Montserrat", sans-serif;
  --animation-fadeIn: fadeIn 0.3s ease-in-out;
}


/* Keyframes (CSS PURO) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
